h1 {
  font-size: 5em;
  background-color: #012A36;
  color: #A6CCD7;
  font-family: 'Saira', sans-serif;
  
}

h2 {
  padding: 2px;
  font-size: 2em;
  background-color: #012A36;
  color: #A6CCD7;
  font-family: 'Saira', sans-serif;
  
}

.header {
  background-color: #012A36;
  padding: 2px;
}