
<div *ngIf="questions && quiz">
  <h1>{{quiz.name}}</h1>
  <app-question
    *ngIf = "chosenAnswer === null"
    (onAnswer)="answer($event)"
    [question]="questions[currentQuestion]"></app-question>

  <div *ngIf="chosenAnswer !== null && currentQuestion < questions.length"
       class="results">
    <p>
      {{answerIsCorrect(chosenAnswer) ? "You got it right" : "that was incorrect."}}
    </p>
    <p>
      {{questions[currentQuestion].explanation}}
    </p>
    <p>
      <button (click)="nextQuestion()">Next Question</button>
    </p>
  </div>

  <div *ngIf="currentQuestion === questions.length" class="results">
    <h3>
      You finished the Quiz! You got {{numberCorrect}} out of
      {{questions.length}} questions right. Your score is {{score}}
    </h3>
  </div>
</div>
