
<div *ngIf="questions && quiz">
  <h1>{{quiz.name}}</h1>
  <app-question
    *ngIf = "chosenAnswer === null"
    (onAnswer)="answer($event)"
    [question]="questions[currentQuestion]"></app-question>

  <div *ngIf="chosenAnswer !== null && currentQuestion < questions.length">
    <p>
      {{answerIsCorrect(chosenAnswer) ? "You got it right" : "that was incorrect."}}
    </p>
    <p>
      {{questions[currentQuestion].explanation}}
    </p>
    <button (click)="nextQuestion()">Next Question</button>
  </div>

  <div *ngIf="currentQuestion === questions.length">
    You finished the Quiz! You got {{numberCorrect}} out of {{questions.length}} questions right.
  </div>
</div>
